<div class="main">
    <div id="add-seller" class="right">
        <div id="header"><a href="javascript:history.go(-1);" class="btn-right">文章列表</a></div>
        <div class="content">
            <ul>
                <li>
                    <label class="lab"><span class="mark">*</span>标题：</label>
                    <input ng-model="" type="text" class="text input-width02">
                </li>
                <li>
                    <label class="lab"><span class="mark">*</span>作者：</label>
                    <input ng-model="" type="text" class="text input-width02">
                </li>
                <li>
                    <button  class="btn-right">确定</button>
                </li>
            </ul>
        </div>
    </div>
</div>